/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/

.page-wrap {
    @include flex();
    @include flex-direction(column);
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(138deg, #90caf9 0, #e3f2fd 100%);
}