/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/

.page-wrap {
    @include flex();
    @include flex-direction(column);
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background: url('/assets/images/marvel-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}
