<div class="profile">
    <div class="profile-photos" style="background: url('../assets/images/profile/em.jpg')">

        <div class="profile-circle">
            <a href="https://www.linkedin.com/in/emrah-kumru-16b465ab/" target="_blank">
                <i class="fa fa-linkedin "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="https://github.com/emrahkumruu" target="_blank">
                <i class="fa fa-github "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="" target="_blank">
                <i class="fa fa-envelope-o "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="https://www.facebook.com/Emrahkumruu" target="_blank">
                <i class="fa fa-facebook "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="instagram.com/emrahkumru/" target="_blank">
                <i class="fa fa-instagram "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="https://twitter.com/Emrahkumruu" target="_blank">
                <i class="fa fa-twitter "></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="" target="_blank">
                <i class="fa fa-snapchat-ghost"></i>
            </a>
        </div>
        <div class="profile-circle">
            <a href="https://open.spotify.com/user/11135644785" target="_blank" >
                <i class="fa fa-spotify "></i>
            </a>
        </div>

    </div>
</div>